In [1]:
# Importing libraries
import os
import pandas as pd
import json
import mysql.connector
import pymysql
import sqlalchemy
from sqlalchemy import create_engine
import plotly.express as px
import requests

In [2]:
# AGGREGATED TRANSACTION
path_agg_trans="D:/Phonepe_pulse/pulse/data/aggregated/transaction/country/india/state/"
Agg_trans_states=os.listdir(path_agg_trans)
Agg_trans_states

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [3]:
#changed the state name as per the geographic state 
state_name= {'andaman-&-nicobar-islands': 'Andaman and Nicobar Islands',
    'tamil-nadu': 'Tamil Nadu',
    'lakshadweep': 'Lakshadweep',
    'telangana': 'Telangana',
    'manipur': 'Manipur',
    'haryana': 'Haryana',
    'gujarat': 'Gujarat',
    'sikkim': 'Sikkim',
    'delhi': 'Delhi',
    'west-bengal': 'West Bengal',
    'uttar-pradesh': 'Uttar Pradesh',
    'goa': 'Goa',
    'punjab': 'Punjab',
    'arunachal-pradesh': 'Arunachal Pradesh',
    'karnataka': 'Karnataka',
    'jammu-&-kashmir': 'Jammu and Kashmir',
    'maharashtra': 'Maharashtra',
    'odisha': 'Odisha',
    'madhya-pradesh': 'Madhya Pradesh',
    'rajasthan': 'Rajasthan',
    'andhra-pradesh': 'Andhra Pradesh',
    'chandigarh': 'Chandigarh',
    'kerala': 'Kerala',
    'chhattisgarh': 'Chhattisgarh',
    'tripura': 'Tripura',
    'mizoram': 'Mizoram',
    'himachal-pradesh': 'Himachal Pradesh',
    'dadra-&-nagar-haveli-&-daman-&-diu': 'Dadra and Nagar Haveli and Daman and Diu',
    'ladakh': 'Ladakh',
    'assam': 'Assam',
    'meghalaya': 'Meghalaya',
    'uttarakhand': 'Uttarakhand',
    'puducherry': 'Puducherry',
    'bihar': 'Bihar',
    'jharkhand': 'Jharkhand',
    'nagaland': 'Nagaland'
}

In [4]:
# Creating a dictionary
agg_trans = {'State':[], 'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for state in Agg_trans_states:
    path_states = path_agg_trans+state+"/"
    # print(path_states)

    agg_trans_years = os.listdir(path_states)
    for year in agg_trans_years:
        path_years = path_states+year+"/"
        # print(path_years)

        agg_trans_years_list = os.listdir(path_years)
        for yr in agg_trans_years_list:
            path_quarter = path_years+yr
            # print(quarter)
            
            Data = open(path_quarter,'r')
            D1 = json.load(Data)
            
            for i in D1['data']['transactionData']:
                Name=i['name']
                count=i['paymentInstruments'][0]['count']
                amount=i['paymentInstruments'][0]['amount']
                agg_trans['Transaction_type'].append(Name)
                agg_trans['Transaction_count'].append(count)
                agg_trans['Transaction_amount'].append(amount)
                agg_trans['State'].append(state)
                agg_trans['Year'].append(year)
                agg_trans['Quarter'].append(int(yr.strip('.json')))

# Creating a dataframe
Agg_Transaction=pd.DataFrame(agg_trans)
Agg_Transaction['State'] = Agg_Transaction['State'].map(state_name)

In [7]:
Agg_Transaction

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,Andaman and Nicobar Islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman and Nicobar Islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman and Nicobar Islands,2018,1,Merchant payments,298,4.525072e+05
3,Andaman and Nicobar Islands,2018,1,Financial Services,33,1.060142e+04
4,Andaman and Nicobar Islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4489,West Bengal,2024,1,Merchant payments,407607197,2.732137e+11
4490,West Bengal,2024,1,Peer-to-peer payments,355646156,1.100744e+12
4491,West Bengal,2024,1,Recharge & bill payments,72216060,4.716192e+10
4492,West Bengal,2024,1,Financial Services,451008,5.307383e+08
4493,West Bengal,2024,1,Others,488166,3.750216e+08

In [6]:
# Creating a Database
mydb = pymysql.connect(
    user='root',
    password='12345678',
    host='localhost'
)
mycursor = mydb.cursor()
mycursor.execute("Create database phonepe")

1

In [23]:
# Connecting to the database
mydb = pymysql.connect(
    user='root',
    password='12345678',
    host='localhost',
    database='phonepe'
)
mycursor = mydb.cursor()

In [8]:
# Creating table
create_aggtrans_table="""
CREATE TABLE IF NOT EXISTS aggregated_transactions (
    id INT AUTO_INCREMENT PRIMARY KEY,
    state VARCHAR(255),
    year INT,
    quarter INT,
    transaction_type VARCHAR(255),
    transaction_count INT,
    transaction_amount DECIMAL(20, 2)
);"""
mycursor.execute(create_aggtrans_table)
mydb.commit()

# Inserting values
insert_query = """
    INSERT INTO aggregated_transactions (state, year, quarter, transaction_type, transaction_count, transaction_amount)
    VALUES (%s, %s, %s, %s, %s, %s);
    """
    
for index, row in Agg_Transaction.iterrows():
    data = (row['State'], row['Year'], row['Quarter'], row['Transaction_type'], row['Transaction_count'], row['Transaction_amount'])
    mycursor.execute(insert_query, data)
    
    mydb.commit()

In [5]:
# AGGREGATED USER
path_agg_user="D:/Phonepe_pulse/pulse/data/aggregated/user/country/india/state/"
Agg_user_states=os.listdir(path_agg_user)
Agg_user_states

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [6]:
# Creating a dictionary
agg_user =  {'State':[], 'Year':[],'Quarter':[],'Brands':[],'Count':[],'Percentage':[]}

for state in Agg_user_states:
    path_states = path_agg_user+state+"/"
    # print(path_states)

    agg_user_years = os.listdir(path_states)
    for year in agg_user_years:
        path_years = path_states+year+"/"
        # print(path_years)

        agg_user_years_list = os.listdir(path_years)
        for yr in agg_user_years_list:
            path_quarter = path_years+yr
            # print(quarter)
            
            Data = open(path_quarter,'r')
            D2 = json.load(Data) 
            # print(D2)
            
            try:
                for i in D2['data']['usersByDevice']:
                    brand=i['brand']
                    count=i['count']
                    percentage=i['percentage']
                    agg_user['Brands'].append(brand)
                    agg_user['Count'].append(count)
                    agg_user['Percentage'].append(percentage)
                    agg_user['State'].append(state)
                    agg_user['Year'].append(year)
                    agg_user['Quarter'].append(int(yr.strip('.json')))

            except:
                pass


# Creating a dataframe
Agg_User=pd.DataFrame(agg_user)
Agg_User['State'] = Agg_User['State'].map(state_name)

In [8]:
Agg_User

                            State  Year  Quarter   Brands    Count  Percentage
0     Andaman and Nicobar Islands  2018        1   Xiaomi     1665    0.247033
1     Andaman and Nicobar Islands  2018        1  Samsung     1445    0.214392
2     Andaman and Nicobar Islands  2018        1     Vivo      982    0.145697
3     Andaman and Nicobar Islands  2018        1     Oppo      501    0.074332
4     Andaman and Nicobar Islands  2018        1  OnePlus      332    0.049258
...                           ...   ...      ...      ...      ...         ...
6727                  West Bengal  2022        1   Lenovo   330017    0.015056
6728                  West Bengal  2022        1  Infinix   284678    0.012987
6729                  West Bengal  2022        1     Asus   280347    0.012790
6730                  West Bengal  2022        1    Apple   277752    0.012671
6731                  West Bengal  2022        1   Others  2196334    0.100199

[6732 rows x 6 columns]

In [ ]:
# Creating table
create_agguser_table="""
CREATE TABLE IF NOT EXISTS aggregated_users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    state VARCHAR(255),
    year INT,
    quarter INT,
    brands VARCHAR(255),
    count INT,
    percentage FLOAT
);"""
mycursor.execute(create_agguser_table)
mydb.commit()

# Inserting values
insert_query = """
    INSERT INTO aggregated_users (state, year, quarter, brands, count, percentage)
    VALUES (%s, %s, %s, %s, %s, %s);
    """
    
for index, row in Agg_User.iterrows():
    data = (row['State'], row['Year'], row['Quarter'], row['Brands'], row['Count'], row['Percentage'])
    mycursor.execute(insert_query, data)
    
mydb.commit()

In [8]:
# MAP TRANSACTION
path_map="D:/Phonepe_pulse/pulse/data/map/transaction/hover/country/india/state/"
map_trans_states = os.listdir(path_map)
map_trans_states

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [9]:
# Creating a dictionary
map_trans = {'State':[], 'Year':[],'Quarter':[],'District':[], 'Count':[], 'Amount':[]}

for state in map_trans_states:
    path_states = path_map+state+"/"
    # print(path_states)

    map_trans_years = os.listdir(path_states)
    for year in map_trans_years:
        path_years = path_states+year+"/"
        # print(path_years)

        map_trans_years_list = os.listdir(path_years)
        for yr in map_trans_years_list:
            path_quarter = path_years+yr
            # print(quarter)
            
            Data = open(path_quarter,'r')
            D3 = json.load(Data)
            
            for i in D3["data"]["hoverDataList"]:
                district = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                map_trans["District"].append(district)
                map_trans["Count"].append(count)
                map_trans["Amount"].append(amount)
                map_trans['State'].append(state)
                map_trans['Year'].append(year)
                map_trans['Quarter'].append(int(yr.strip('.json')))

# Creating a dataframe
Map_Transaction=pd.DataFrame(map_trans)
Map_Transaction['State'] = Map_Transaction['State'].map(state_name)

In [12]:
Map_Transaction

,State,Year,Quarter,District,Count,Amount
0,Andaman and Nicobar Islands,2018,1,north and middle andaman district,442,9.316631e+05
1,Andaman and Nicobar Islands,2018,1,south andaman district,5688,1.256025e+07
2,Andaman and Nicobar Islands,2018,1,nicobars district,528,1.139849e+06
3,Andaman and Nicobar Islands,2018,2,north and middle andaman district,825,1.317863e+06
4,Andaman and Nicobar Islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
18291,West Bengal,2024,1,nadia district,42154481,7.903014e+10
18292,West Bengal,2024,1,birbhum district,24812300,4.640025e+10
18293,West Bengal,2024,1,purba medinipur district,46212626,9.237355e+10
18294,West Bengal,2024,1,maldah district,42299563,7.671603e+10
18295,West Bengal,2024,1,darjiling district,18129044,2.927784e+10

In [16]:
# Creating table
create_maptrans_table="""
CREATE TABLE IF NOT EXISTS map_transactions (
    id INT AUTO_INCREMENT PRIMARY KEY,
    state VARCHAR(255),
    year INT,
    quarter INT,
    district VARCHAR(255),
    count INT,
    amount FLOAT
);"""
mycursor.execute(create_maptrans_table)
mydb.commit()

# Inserting values
insert_query = """
    INSERT INTO map_transactions (state, year, quarter, district, count, amount)
    VALUES (%s, %s, %s, %s, %s, %s);
    """
    
for index, row in Map_Transaction.iterrows():
    data = (row['State'], row['Year'], row['Quarter'], row['District'], row['Count'], row['Amount'])
    mycursor.execute(insert_query, data)
    
mydb.commit()

In [10]:
# MAP USER
path_map_user = "D:/Phonepe_pulse/pulse/data/map/user/hover/country/india/state/"
map_user_states = os.listdir(path_map)
map_user_states

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [11]:
# Creating a dictionary
map_user = {'State':[], 'Year':[],'Quarter':[],'District':[], 'RegisteredUser':[], 'AppOpens':[]}

for state in map_user_states:
    path_states = path_map_user+state+"/"
    # print(path_states)

    map_user_years = os.listdir(path_states)
    for year in map_user_years:
        path_years = path_states+year+"/"
        # print(path_years)

        map_user_years_list = os.listdir(path_years)
        for yr in map_user_years_list:
            path_quarter = path_years+yr
            # print(path_quarter)
            
            Data = open(path_quarter,'r')
            D4 = json.load(Data)
            # print(D4)
            
            District_name=list(D4['data']['hoverData'].keys())
            for district in District_name:
                registereduser=D4['data']['hoverData'][district]['registeredUsers']
                appopens=D4['data']['hoverData'][district]['appOpens']
                map_user['District'].append(district)
                map_user['RegisteredUser'].append(registereduser)
                map_user['AppOpens'].append(appopens)
                map_user['State'].append(state)
                map_user['Year'].append(year)
                map_user['Quarter'].append(int(yr.strip('.json')))
        
# Creating a dataframe
Map_Users=pd.DataFrame(map_user)
Map_Users['State'] = Map_Users['State'].map(state_name)

In [15]:
Map_Users

,State,Year,Quarter,District,RegisteredUser,AppOpens
0,Andaman and Nicobar Islands,2018,1,north and middle andaman district,632,0
1,Andaman and Nicobar Islands,2018,1,south andaman district,5846,0
2,Andaman and Nicobar Islands,2018,1,nicobars district,262,0
3,Andaman and Nicobar Islands,2018,2,north and middle andaman district,911,0
4,Andaman and Nicobar Islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
18295,West Bengal,2024,1,nadia district,1671140,13679202
18296,West Bengal,2024,1,birbhum district,1056537,30502875
18297,West Bengal,2024,1,purba medinipur district,1655920,18688405
18298,West Bengal,2024,1,maldah district,1183956,33270738
18299,West Bengal,2024,1,darjiling district,686254,31485682

In [20]:
# Creating table
create_mapuser_table="""
CREATE TABLE IF NOT EXISTS map_users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    state VARCHAR(255),
    year INT,
    quarter INT,
    district VARCHAR(255),
    registered_user INT,
    app_opens INT
);"""
mycursor.execute(create_mapuser_table)
mydb.commit()

# Inserting values
insert_query = """
    INSERT INTO map_users (state, year, quarter, district, registered_user, app_opens)
    VALUES (%s, %s, %s, %s, %s, %s);
    """
    
for index, row in Map_Users.iterrows():
    data = (row['State'], row['Year'], row['Quarter'], row['District'], row['RegisteredUser'], row['AppOpens'])
    mycursor.execute(insert_query, data)
    
mydb.commit()

In [12]:
# TOP TRANSACTION
top_path = "D:/Phonepe_pulse/pulse/data/top/transaction/country/india/state/"
top_trans_states = os.listdir(top_path)
top_trans_states

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [13]:
#  Creating a dictionary
top_trans =  {'State':[], 'Year':[],'Quarter':[],  'District':[],'District_Count':[],'District_Amount':[], 'Pincode':[], 'Pincode_Count':[], 'Pincode_Amount':[]} 

for state in top_trans_states:
    path_states = top_path+state+"/"
    # print(path_states)

    top_trans_years = os.listdir(path_states)
    for year in top_trans_years:
        path_years = path_states+year+"/"
        # print(path_years)

        top_trans_years_list = os.listdir(path_years)
        for yr in  top_trans_years_list:
            path_quarter = path_years+yr
            # print(path_quarter)
            
            Data = open(path_quarter,'r')
            D5 = json.load(Data)
            # print(D5) 

            for district in D5['data']['districts']:
                district_name = district['entityName']
                district_count = district['metric']['count']
                district_amount = district['metric']['amount']
            
            for i in D5['data']['pincodes']:
                pincode=i['entityName']
                pincode_count=i['metric']['count']
                pincode_amount=i['metric']['amount']
                top_trans['District'].append(district_name)
                top_trans['District_Count'].append(district_count)
                top_trans['District_Amount'].append(district_amount)
                top_trans['Pincode'].append(pincode)
                top_trans['Pincode_Count'].append(pincode_count)
                top_trans['Pincode_Amount'].append(pincode_amount)
                top_trans['State'].append(state)
                top_trans['Year'].append(year)
                top_trans['Quarter'].append(int(yr.strip('.json')))
                
# Creating a dataframe
Top_Transactions=pd.DataFrame(top_trans) 
Top_Transactions['State'] = Top_Transactions['State'].map(state_name)

In [18]:
Top_Transactions

,State,Year,Quarter,District,District_Count,District_Amount,Pincode,Pincode_Count,Pincode_Amount
0,Andaman and Nicobar Islands,2018,1,north and middle andaman,442,9.316631e+05,744101,1622,2.769298e+06
1,Andaman and Nicobar Islands,2018,1,north and middle andaman,442,9.316631e+05,744103,1223,2.238042e+06
2,Andaman and Nicobar Islands,2018,1,north and middle andaman,442,9.316631e+05,744102,969,3.519060e+06
3,Andaman and Nicobar Islands,2018,1,north and middle andaman,442,9.316631e+05,744105,685,1.298561e+06
4,Andaman and Nicobar Islands,2018,1,north and middle andaman,442,9.316631e+05,744104,340,1.039715e+06
...,...,...,...,...,...,...,...,...,...
8919,West Bengal,2024,1,paschim medinipur,40845488,6.940010e+10,732125,4490229,7.014125e+09
8920,West Bengal,2024,1,paschim medinipur,40845488,6.940010e+10,700006,4358390,8.114395e+09
8921,West Bengal,2024,1,paschim medinipur,40845488,6.940010e+10,700001,4321119,8.497021e+09
8922,West Bengal,2024,1,paschim medinipur,40845488,6.940010e+10,732201,4265219,9.908795e+09
8923,West Bengal,2024,1,paschim medinipur,40845488,6.940010e+10,742202,3985791,8.428173e+09

In [24]:
# Creating table
create_toptrans_table="""
CREATE TABLE IF NOT EXISTS top_transactions (
    id INT AUTO_INCREMENT PRIMARY KEY,
    state VARCHAR(255),
    year INT,
    quarter INT,
    district VARCHAR(255),
    district_count INT,
    district_amount DOUBLE,
    pincode VARCHAR(255),
    pincode_count INT,
    pincode_amount DOUBLE
);"""
mycursor.execute(create_toptrans_table)
mydb.commit()

# Inserting values
insert_query = """
    INSERT INTO top_transactions (state, year, quarter, district, district_count, district_amount, pincode, pincode_count, pincode_amount)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s);
    """
    
for index, row in Top_Transactions.iterrows():
    data = (row['State'], row['Year'], row['Quarter'], row['District'], row['District_Count'], row['District_Amount'], row['Pincode'], row['Pincode_Count'], row['Pincode_Amount'])
    mycursor.execute(insert_query, data)
    
    mydb.commit()

In [14]:
# TOP USERS
top_path = "D:/Phonepe_pulse/pulse/data/top/user/country/india/state/"
top_user_states = os.listdir(top_path)
top_user_states

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [15]:
#  Creating a dictionary
top_user =  {'State':[], 'Year':[],'Quarter':[], 'State':[], 'District':[],'District_Users':[], 'Pincode':[], 'Registered_Users':[]} 

for state in top_user_states:
    path_states = top_path+state+"/"
    # print(path_states)

    top_user_years = os.listdir(path_states)
    for year in top_user_years:
        path_years = path_states+year+"/"
        # print(path_years)

        top_user_years_list = os.listdir(path_years)
        for yr in  top_user_years_list:
            path_quarter = path_years+yr
            # print(path_quarter)
            
            Data = open(path_quarter,'r')
            D6 = json.load(Data)
            # print(D6) 

            for district in D6['data']['districts']:
                district_name = district['name']
                district_users = district['registeredUsers']
            
            for i in D6['data']['pincodes']:
                pincode=i['name']
                registerdusers=i['registeredUsers']
                top_user['District'].append(district_name)
                top_user['District_Users'].append(district_users)
                top_user['Pincode'].append(pincode)
                top_user['Registered_Users'].append(registerdusers)
                top_user['State'].append(state)
                top_user['Year'].append(year)
                top_user['Quarter'].append(int(yr.strip('.json')))
                
# Creating a dataframe
Top_Users=pd.DataFrame(top_user) 
Top_Users['State'] = Top_Users['State'].map(state_name)

In [21]:
Top_Users

,State,Year,Quarter,District,District_Users,Pincode,Registered_Users
0,Andaman and Nicobar Islands,2018,1,nicobars,262,744103,1608
1,Andaman and Nicobar Islands,2018,1,nicobars,262,744101,1108
2,Andaman and Nicobar Islands,2018,1,nicobars,262,744105,1075
3,Andaman and Nicobar Islands,2018,1,nicobars,262,744102,1006
4,Andaman and Nicobar Islands,2018,1,nicobars,262,744104,272
...,...,...,...,...,...,...,...
8920,West Bengal,2024,1,purba bardhaman,1377496,700015,131676
8921,West Bengal,2024,1,purba bardhaman,1377496,742304,127917
8922,West Bengal,2024,1,purba bardhaman,1377496,721101,127891
8923,West Bengal,2024,1,purba bardhaman,1377496,700150,123919
8924,West Bengal,2024,1,purba bardhaman,1377496,700091,122985

In [28]:
# Creating table
create_topuser_table="""
CREATE TABLE IF NOT EXISTS top_users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    state VARCHAR(255),
    year INT,
    quarter INT,
    district VARCHAR(255),
    district_users INT,
    pincode VARCHAR(255),
    registered_users INT
);"""
mycursor.execute(create_topuser_table)
mydb.commit()

# Inserting values
insert_query = """
    INSERT INTO top_users (state, year, quarter, district, district_users, pincode, registered_users)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
    """
    
for index, row in Top_Users.iterrows():
    data = (row['State'], row['Year'], row['Quarter'], row['District'], row['District_Users'], row['Pincode'], row['Registered_Users'])
    mycursor.execute(insert_query, data)
    
    mydb.commit()

In [25]:
# Creating a db_engine as the pandas support only sqlalchemy
db_engine = create_engine('mysql+pymysql://root:12345678@localhost/phonepe')

# Converting the tables into dataframe
# aggregated transactions
query = "SELECT * FROM aggregated_transactions"
agg_trans_df = pd.read_sql(query, db_engine)

# aggregated users
query = "SELECT * FROM aggregated_users"
agg_users_df = pd.read_sql(query, db_engine)

# map transactions
query = "SELECT * FROM map_transactions"
map_trans_df = pd.read_sql(query, db_engine)

# map users
query = "SELECT * FROM map_users"
map_users_df = pd.read_sql(query, db_engine)

# top transactions
query = "SELECT * FROM top_transactions"
top_trans_df = pd.read_sql(query, db_engine)

# top users
query = "SELECT * FROM top_users"
top_users_df = pd.read_sql(query, db_engine)

In [31]:
agg_trans_df

,id,state,year,quarter,transaction_type,transaction_count,transaction_amount
0,1,Andaman and Nicobar Islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,2,Andaman and Nicobar Islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,3,Andaman and Nicobar Islands,2018,1,Merchant payments,298,4.525072e+05
3,4,Andaman and Nicobar Islands,2018,1,Financial Services,33,1.060142e+04
4,5,Andaman and Nicobar Islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...,...
4489,4490,West Bengal,2024,1,Merchant payments,407607197,2.732137e+11
4490,4491,West Bengal,2024,1,Peer-to-peer payments,355646156,1.100744e+12
4491,4492,West Bengal,2024,1,Recharge & bill payments,72216060,4.716192e+10
4492,4493,West Bengal,2024,1,Financial Services,451008,5.307383e+08
4493,4494,West Bengal,2024,1,Others,488166,3.750216e+08

In [32]:
agg_users_df

,id,state,year,quarter,brands,count,percentage
0,1,Andaman and Nicobar Islands,2018,1,Xiaomi,1665,0.247033
1,2,Andaman and Nicobar Islands,2018,1,Samsung,1445,0.214392
2,3,Andaman and Nicobar Islands,2018,1,Vivo,982,0.145697
3,4,Andaman and Nicobar Islands,2018,1,Oppo,501,0.074332
4,5,Andaman and Nicobar Islands,2018,1,OnePlus,332,0.049258
...,...,...,...,...,...,...,...
6727,6728,West Bengal,2022,1,Lenovo,330017,0.015056
6728,6729,West Bengal,2022,1,Infinix,284678,0.012987
6729,6730,West Bengal,2022,1,Asus,280347,0.012790
6730,6731,West Bengal,2022,1,Apple,277752,0.012671
6731,6732,West Bengal,2022,1,Others,2196334,0.100199

In [33]:
map_trans_df

,id,state,year,quarter,district,count,amount
0,1,Andaman and Nicobar Islands,2018,1,north and middle andaman district,442,9.316630e+05
1,2,Andaman and Nicobar Islands,2018,1,south andaman district,5688,1.256020e+07
2,3,Andaman and Nicobar Islands,2018,1,nicobars district,528,1.139850e+06
3,4,Andaman and Nicobar Islands,2018,2,north and middle andaman district,825,1.317860e+06
4,5,Andaman and Nicobar Islands,2018,2,south andaman district,9395,2.394820e+07
...,...,...,...,...,...,...,...
18291,18292,West Bengal,2024,1,nadia district,42154481,7.903010e+10
18292,18293,West Bengal,2024,1,birbhum district,24812300,4.640020e+10
18293,18294,West Bengal,2024,1,purba medinipur district,46212626,9.237350e+10
18294,18295,West Bengal,2024,1,maldah district,42299563,7.671600e+10
18295,18296,West Bengal,2024,1,darjiling district,18129044,2.927780e+10

In [34]:
map_users_df

,id,state,year,quarter,district,registered_user,app_opens
0,1,Andaman and Nicobar Islands,2018,1,north and middle andaman district,632,0
1,2,Andaman and Nicobar Islands,2018,1,south andaman district,5846,0
2,3,Andaman and Nicobar Islands,2018,1,nicobars district,262,0
3,4,Andaman and Nicobar Islands,2018,2,north and middle andaman district,911,0
4,5,Andaman and Nicobar Islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...,...
18295,18296,West Bengal,2024,1,nadia district,1671140,13679202
18296,18297,West Bengal,2024,1,birbhum district,1056537,30502875
18297,18298,West Bengal,2024,1,purba medinipur district,1655920,18688405
18298,18299,West Bengal,2024,1,maldah district,1183956,33270738
18299,18300,West Bengal,2024,1,darjiling district,686254,31485682

In [26]:
top_trans_df

,id,state,year,quarter,district,district_count,district_amount,pincode,pincode_count,pincode_amount
0,1,Andaman and Nicobar Islands,2018,1,north and middle andaman,442,9.316631e+05,744101,1622,2.769298e+06
1,2,Andaman and Nicobar Islands,2018,1,north and middle andaman,442,9.316631e+05,744103,1223,2.238042e+06
2,3,Andaman and Nicobar Islands,2018,1,north and middle andaman,442,9.316631e+05,744102,969,3.519060e+06
3,4,Andaman and Nicobar Islands,2018,1,north and middle andaman,442,9.316631e+05,744105,685,1.298561e+06
4,5,Andaman and Nicobar Islands,2018,1,north and middle andaman,442,9.316631e+05,744104,340,1.039715e+06
...,...,...,...,...,...,...,...,...,...,...
8919,8920,West Bengal,2024,1,paschim medinipur,40845488,6.940010e+10,732125,4490229,7.014125e+09
8920,8921,West Bengal,2024,1,paschim medinipur,40845488,6.940010e+10,700006,4358390,8.114395e+09
8921,8922,West Bengal,2024,1,paschim medinipur,40845488,6.940010e+10,700001,4321119,8.497021e+09
8922,8923,West Bengal,2024,1,paschim medinipur,40845488,6.940010e+10,732201,4265219,9.908795e+09
8923,8924,West Bengal,2024,1,paschim medinipur,40845488,6.940010e+10,742202,3985791,8.428173e+09

In [36]:
top_users_df

,id,state,year,quarter,district,district_users,pincode,registered_users
0,1,Andaman and Nicobar Islands,2018,1,nicobars,262,744103,1608
1,2,Andaman and Nicobar Islands,2018,1,nicobars,262,744101,1108
2,3,Andaman and Nicobar Islands,2018,1,nicobars,262,744105,1075
3,4,Andaman and Nicobar Islands,2018,1,nicobars,262,744102,1006
4,5,Andaman and Nicobar Islands,2018,1,nicobars,262,744104,272
...,...,...,...,...,...,...,...,...
8920,8921,West Bengal,2024,1,purba bardhaman,1377496,700015,131676
8921,8922,West Bengal,2024,1,purba bardhaman,1377496,742304,127917
8922,8923,West Bengal,2024,1,purba bardhaman,1377496,721101,127891
8923,8924,West Bengal,2024,1,purba bardhaman,1377496,700150,123919
8924,8925,West Bengal,2024,1,purba bardhaman,1377496,700091,122985